
<div class="row" >
    <div class="col-xs-12">

        <input
            type="text"
            class="form-control"
            placeholder="Enter recipe name!">
        <input
            type="text"
            class="form-control"
            placeholder="Enter recipe description!">

        <input
            type="text"
            class="form-control"
            placeholder="Enter recipe image!">

        <br>

        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <button class="btn btn-success" (click) = "addRecipes()" >Add Recipe</button>
                &nbsp;
                <button class="btn btn-danger">Cancel</button>
            </div>
        </div>



    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
